{% extends "template.html" %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        <label>Username:</label><br />
        {{ form.username }}
        {% for error in form.username.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
        <br />

        <label>Password:</label><br />
        {{ form.password }}
        {% for error in form.password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}

        <button type="submit">Login!</button>
    </form>
    <!-- Just in case I forget my password, I can find it again: my5up3rs3cr3tp4ssw0rd ~Admin -->
{% endblock %}